{
	"arrowParens": "always",
	"bracketSpacing": true,
	"semi": true,
	"bracketSameLine": false,
	"printWidth": 100,
	"singleQuote": true,
	"tabWidth": 4,
	"vueIndentScriptAndStyle": false,
	"useTabs": true,
	"proseWrap": "always",
	"singleAttributePerLine": false,
	"trailingComma": "es5"
}